In [5]:
import json
with open('patients.json', 'r') as file:
    data = json.load(file)

In [6]:
type(data)

dict

In [9]:
input_col = str(input())

In [10]:
input_col

'bmi'

In [42]:
# data

In [51]:
sorted_data = dict(sorted(data.items(), reverse=False, key=lambda item: item[1]['bmi']))
print(sorted_data)

{'P002': {'name': 'Mehta', 'city': 'Mumbai', 'age': 35, 'gender': 'male', 'height': 1.75, 'weight': 85, 'bmi': 27.76, 'verdict': 'Overweight'}, 'P004': {'name': 'Kumar', 'city': 'Kochi', 'age': 38, 'gender': 'female', 'height': 1.5, 'weight': 72, 'bmi': 27.76, 'verdict': 'Diabetes'}, 'P001': {'name': 'Ananya Sharma', 'city': 'Guwahati', 'age': 28, 'gender': 'female', 'height': 1.65, 'weight': 90.0, 'bmi': 33.06, 'verdict': 'Obese'}, 'P003': {'name': 'Agarwal', 'city': 'Delhi', 'age': 35, 'gender': 'male', 'height': 1.65, 'weight': 103, 'bmi': 34, 'verdict': 'Overweight'}}

In [52]:
for key in sorted_data:
    print(sorted_data[key]['bmi'])

27.76
27.76
33.06
34

In [21]:
import pandas as pd

In [22]:
df = pd.DataFrame(data)

In [23]:
df

                  P001        P002        P003      P004
name     Ananya Sharma       Mehta     Agarwal     Kumar
city          Guwahati      Mumbai       Delhi     Kochi
age                 28          35          35        38
gender          female        male        male    female
height            1.65        1.75        1.65       1.5
weight            90.0          85         103        72
bmi              33.06       27.76          34     27.76
verdict          Obese  Overweight  Overweight  Diabetes

In [28]:
df.index.values

array(['name', 'city', 'age', 'gender', 'height', 'weight', 'bmi',
       'verdict'], dtype=object)

In [ ]:
curl -X POST "http://127.0.0.1:8000/addPatient" \
-H "Content-Type: application/json" \
-d '{"name":"Arrun", "city":"lucknow", "age":56, "gender":"male", "height":1.65, "weight":78, "bmi":37, "disease":"asthma"}'

### Sorting List

In [19]:
l = [9,10,2,1,1999, 23, 5]

for i in range(0, len(l)):
    temp = 0
    for j in range(i, len(l)):
        if l[i] > l[j]:
            temp = l[i]
            l[i] = l[j]
            l[j] = temp
print(l)

[1, 2, 5, 9, 10, 23, 1999]

In [12]:
with open('patients.json', 'r') as file:
    data = json.load(file)

In [19]:
name = "Harry"
age = 40
city = "Bhubaneswar"
for key, value in data.items():
    if value['city'] == city and value['age']==age and value['name']==name:
        print("Existing Patient")
        break

Existing Patient

In [13]:
data

{'P001': {'name': 'Ananya Sharma',
  'city': 'Guwahati',
  'age': 28,
  'gender': 'female',
  'height': 1.65,
  'weight': 90.0,
  'bmi': 33.06,
  'disease': 'Obese'},
 'P002': {'name': 'Mehta',
  'city': 'Mumbai',
  'age': 35,
  'gender': 'male',
  'height': 1.75,
  'weight': 85,
  'bmi': 30.76,
  'disease': 'Overweight'},
 'P003': {'name': 'Agarwal',
  'city': 'Delhi',
  'age': 22,
  'gender': 'male',
  'height': 1.65,
  'weight': 103,
  'bmi': 34,
  'disease': 'Overweight'},
 'P004': {'name': 'Kumar',
  'city': 'Kochi',
  'age': 45,
  'gender': 'female',
  'height': 1.5,
  'weight': 72,
  'bmi': 27.76,
  'disease': 'Diabetes'},
 'P005': {'name': 'Arrun',
  'city': 'lucknow',
  'age': 56,
  'gender': 'male',
  'height': 1.65,
  'weight': 78,
  'bmi': 37,
  'disease': 'Cholera'},
 'P006': {'name': 'Anaya',
  'city': 'delhi',
  'age': 33,
  'gender': 'female',
  'height': 1.5,
  'weight': 90.0,
  'bmi': 31.0,
  'disease': 'HairLoss'},
 'P333': {'name': 'Goswami',
  'city': 'Rourkela',
  'age': 46,
  'gender': 'male',
  'height': 1.8,
  'weight': 65.0,
  'bmi': 26.0,
  'disease': 'skin'},
 'P204': {'name': 'Goswami',
  'city': 'Rourkela',
  'age': 46,
  'gender': 'male',
  'height': 1.8,
  'weight': 65.0,
  'bmi': 26.0,
  'disease': 'skin'},
 'P168': {'name': 'Goswami',
  'city': 'Rourkela',
  'age': 46,
  'gender': 'female',
  'height': 1.8,
  'weight': 65.0,
  'bmi': 26.0,
  'disease': 'skin'},
 'P866': {'name': 'Goswami',
  'city': 'Rourkela',
  'age': 46,
  'gender': 'female',
  'height': 1.8,
  'weight': 65.0,
  'bmi': 26.0,
  'disease': 'skin'},
 'P634': {'name': 'Ramey',
  'city': 'Rourkela',
  'age': 46,
  'gender': None,
  'height': 1.8,
  'weight': 65.0,
  'bmi': 26.0,
  'disease': 'abc'},
 'P507': {'name': 'Zakir',
  'city': 'Gurgaon',
  'age': 27,
  'gender': 'male',
  'height': 1.69,
  'weight': 73.2,
  'bmi': 30.0,
  'disease': 'bloating'},
 'P792': {'name': 'Harry',
  'city': 'Bhubaneswar',
  'age': 40,
  'gender': None,
  'height': 1.6,
  'weight': 63.0,
  'bmi': 30.0,
  'disease': 'sinus'}}

In [71]:
payload = {"name":"Arrun", "city":"lucknow", "age":56, "gender":"male", "height":1.65, "weight":78, "bmi":37, "disease":"Cholera"}

In [72]:
data['P005'] = payload

In [73]:
data.keys()

dict_keys(['P001', 'P002', 'P003', 'P004', 'P005'])

In [4]:
with open('patients.json', 'w') as f:
    json.dump(data, f)

In [10]:
import json

with open('patients.json', 'r') as file:
    data = json.load(file)

In [11]:
data.keys()

dict_keys(['P001', 'P002', 'P003', 'P004', 'P005', 'P006', 'P333', 'P204', 'P168', 'P866', 'P634'])

In [9]:
import random

"P"+str(random.randint(100,999))

'P255'

In [2]:
dict_ = {'a':12, 'b':34}
del dict_['a']

In [3]:
dict_

{'b': 34}

In [6]:
dict_ = {'a':[1,2,3,4,5,6], 'b':[None, None, None, None, None, None]}

import pandas as pd

df = pd.DataFrame(dict_)

In [8]:
def label(value):
    if value%2==0:
        return 'even'
    else:
        return 'odd'

In [10]:
df['b'] = df['a'].apply(label)

In [11]:
df['b']

0     odd
1    even
2     odd
3    even
4     odd
5    even
Name: b, dtype: object

In [12]:
df

   a     b
0  1   odd
1  2  even
2  3   odd
3  4  even
4  5   odd
5  6  even